/* Hero.css */

:root {
  --green: #23ce6b;
}

.hero-container {
  padding-top: 15%;
  display: flex;
  justify-content: space-between;
  gap: 8rem;
  background: rgba(0, 0, 0, 0);
}

.hero-text > p {
  font-size: 1.8rem;
}

.hero-text h1 {
  font-size: 7rem;
}

.hero-text h3 {
  color: var(--green);
  margin: 1rem 0;
}

.hero-text p.small-resume {
  margin-bottom: 5rem;
}

/* New added */
.social-media {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 5rem;
  padding-left: 1rem;
}

.social-media img,
.social-media span {
  font-size: 3rem;
  width: 3.5rem;
}

.button {
  margin-top: 5rem;
  padding: 1.4rem 6rem;
}

.hero-image img {
  max-width: 500px;
}

@media (max-width: 960px) {
  .hero-container {
    display: block;
    margin-top: 15%;
  }

  .hero-text h1 {
    font-size: 5rem;
  }

  .hero-image {
    display: none;
  }
}

@media (max-width: 600px) {
  .hero-container {
    margin-top: 35%;
  }
}

@media (max-width: 480px) {
  .hero-container {
    margin-top: 45%;
  }
}
